# Node
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
.next/

# Backend spécifique
backend/.env
backend/dist/

# Frontend spécifique
frontend/.env.local
frontend/dist/
frontend/.nuxt/
