NODE_ENV=development
PORT=3000
SUPABASE_URL=https://hgfcnvxstqlvrazzjeor.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnZmNudnhzdHFsdnJhenpqZW9yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAwNDI2NTcsImV4cCI6MjA4NTYxODY1N30.CxU7MBeiOe5YaofhcmVyCg3JutBP7k47b4fY9m_EYnw
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnZmNudnhzdHFsdnJhenpqZW9yIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDA0MjY1NywiZXhwIjoyMDg1NjE4NjU3fQ.qylkvu-qb1JhsO13yW1AXb-DnNHHoPGHsgV31iQwEIQ
JWT_SECRET=hskOE+RaqXimZ62wOai46qWgumCiUEkveZVsa4hZUlcfC34t83F3RK2aFDGX2MmJygnlRj6V+169CSVHNd0bQg==
TMDB_API_KEY=709a42e4067ec34322de949f975f21fc
OMDB_API_KEY=1546d2e2
CORS_ORIGIN=https://cine-phile-two.vercel.app
FRONTEND_URL=https://cine-phile-two.vercel.app
